#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.home-main {
  background: url("./assets/topography.svg"),
    linear-gradient(to bottom, #6f1d1b 75%, #4a0a08);
}

.ants {
  stroke: #fff;
  stroke-dasharray: 8px 7px;
  stroke-width: 1.5px;
  shape-rendering: geometricPrecision;
  stroke-dashoffset: 16px;
  fill: none;
  stroke-linecap: round;
}

.ants-dancing {
  animation-name: dancing-ants;
  animation-duration: 0.45s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dancing-ants {
  100% {
    stroke-dashoffset: 0;
  }
}

[data-animate="true"] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}

[data-animate="false"] {
  opacity: initial;
  transform: translate3d(0, 0, 0);
  transition: 0.1s linear;
}
